@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.card{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #1A1B21;
    max-width: 300px;
    max-height: 868px;
    color:#ffffff;
}

.photo-container{
    /* background-image: url('../assets/santodev-photo.jpeg'); */
    width: 100%;
    /* background-color: #f2f2f2;  */
    height: 318px;
}

.photo-container > img{
    width:100%;
    height: 100%;
    position: relative;
    object-fit: fill;
    border-radius: 10px 10px 0px 0px;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 0 34px; 
}
.info-container > h1{
    /* font-family: 'Inter'; */
    font-weight: 700;
    font-size: 25px;
}

.skill-text{
    position: relative;
    bottom: 20px;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15.48px;
    color: #F3BF99;
}

.button-containers{
    display: flex;
    gap: 18px;
    width: 100%;
    /* padding: 0 34px;  */
    margin: 0;
}

.profile-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 14px;
    border-radius: 6px;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
}

.linkedin-button{
    background-color: #5093E2;
    color: #FFFFFF;
}

.aboutMe-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 0 34px; 
}

.tittle-container{
    font-weight: 700;
    font-size: 16px;
}

.parghraph-content{
    position: relative;
    bottom: 6px;
    font-weight: 400;
    font-size: 10.24px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 64px;
    background-color: #161619;
    border-radius: 0px 0px 10px 10px;
}
